<div class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>{{courseSelected}} CLASS DATES</u></h3>
            <form class="form-inline">
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Pick A Date</label>
                <select class="custom-select p-2my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                  <option selected>Choose...</option>
                  <option value="1">5/5/2021</option>
                  <option value="2">5/6/2021</option>
                  <option value="3">5/7/2021</option>
                  <option value="3">5/9/2021</option>
                </select>
              
                <button type="submit" class="btn btn-primary my-1">Next</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Info</u></h3>
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>

                <button type="submit" class="btn btn-primary float-right mt-2">Next</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Summary</u></h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">First Name:</span>
                    Cras justo odio
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Last Name:</span>
                    Dapibus ac facilisis in
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Email:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Phone:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Course Type:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Instructor:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Session Date:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Location:</span>
                    Morbi leo risus
                </li>
                
            </ul>
            <span class="float-left"><a routerLink="/registration" class="course btn btn-secondary btn-sm m-2">Pay Later</a></span>
            <span class="float-right"><a routerLink="/registration" class="course btn btn-success btn-sm m-2">Pay Now</a></span>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Confirmation</u></h3>
            <p class="text-center">Your info has been received! Thank you for setting up a training session.</p>
            
            <div class="text-center"><a routerLink="/home" class="course btn btn-primary btn-sm m-2">Return Home</a></div>
    
            </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>
