
<div *ngIf="displayPickADateUI()" class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>{{courseSelected}} CLASS DATES</u></h3>
            
            <form class="form-inline pl-3 pr-3" (ngSubmit)="setShowPickADateToFalse()" >
                <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Select: </label>
                <select class="custom-select p-2my-1 mr-sm-2"  id="inlineFormCustomSelectPref" name="courseDate" [(ngModel)]="date">
                    <option *ngFor="let aDate of listOfDates; index as i; trackBy:trackByFn">{{ aDate}}</option>
                </select>
              
                <button type="submit" class="btn btn-primary my-1">Next</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div *ngIf="displayStudentInfoUI()" class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Info</u></h3>
            <form (ngSubmit)="setShowStudentInfoToFalse()">
                <div class="mb-2">
                    <input type="text" name="firstName" [(ngModel)]="firstName" class="form-control" placeholder="First name">
                </div>
                <div class="mb-2">
                    <input type="text"  name="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Last name">
                </div>
                <div class="mb-2">
                    <input type="text"  name="email" [(ngModel)]="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="text"  name="phone" [(ngModel)]="phone" class="form-control" placeholder="Phone">
                </div>

                <button type="submit"  class="btn btn-primary float-right mt-2">Next</button>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div *ngIf="displaySummaryUI()" class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Summary</u></h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">First Name:</span>
                    {{firstName}}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Last Name:</span>
                    {{lastName}}
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Email:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Phone:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Course Type:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Instructor:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Session Date:</span>
                    Morbi leo risus
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="badge badge-primary badge-pill">Location:</span>
                    Morbi leo risus
                </li>
                
            </ul>
            <span class="float-left"><a routerLink="/registration" (click)="setShowSummaryToFalse()" class="course btn btn-secondary btn-sm m-2">Pay Later</a></span>
            <span class="float-right"><a routerLink="/registration" class="course btn btn-success btn-sm m-2">Pay Now</a></span>
        </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>

<div *ngIf="displayConfirmationUI()" class="container mb-3">
    <div class="row">
        <div class="col-lg-4 col-sm-12 mb-2"></div>
        <div class="col-lg-4 col-sm-12 mb-2">
            <h3 class="text-center text-secondary mb-5"><u>Confirmation</u></h3>
            <p class="text-center">Your info has been received! Thank you for setting up a training session.</p>
            
            <div class="text-center"><a routerLink="/home" (click)="setShowSummaryToFalse()" class="course btn btn-primary btn-sm m-2">Return Home</a></div>
    
            </div>
        <div class="col-lg-4 col-sm-12 mb-2"></div>
    </div>
</div>
