<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<nav class="navbar navbar-light bg-light">
  <span class="float-left navbar-brand"> <a routerLink="/home">WELCOME</a></span>
  <span class="float-right navbar-brand"> <a routerLink="/login">LOGIN</a></span>
</nav>

<div class="jumbotron jumbotron-fluid">

  <div class="text-center">
    <h1 > JOSHWANT TRAINING</h1>
    <P> RWJ Barnabas Health: Certified Instructor</P>
  </div>
  
  
</div>
<router-outlet></router-outlet>