<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <p> <a routerLink="/home">WELCOME</a></p>
</div>

<div class="content" role="main">

  <div class="card highlight-card card-small">
    <h1> JOSHWANT TRAINING</h1>
    <P> RWJ Barnabas Health: Certified Instructor</P>
  </div>
  <span><a routerLink="/registration">CPR</a></span>
  <span><a routerLink="/registration">AED</a></span>
  <span><a routerLink="/registration">ACLS</a></span>
  <span><a routerLink="/registration">EMR</a></span>
  <span><a routerLink="/registration">PALS</a></span>
  <span><a routerLink="/registration">BLOOD & AIR BORNE PATHOGENS</a></span>
</div>
<router-outlet></router-outlet>