<div class="container mb-4">
    <h2 class="text-center mb-4 text-secondary"><u>LOGIN</u> </h2>
    <div class="row">
        <div class="col-sm-12 col-lg-4">

        </div>
        <div class="col-sm-12 col-lg-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <div class="mb-2">
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                
                <button routerLink="/admin" class="btn btn-primary float-right mt-2">SIGN IN</button>
            </form>
        </div>
        <div class="col-sm-12 col-lg-4">

        </div>
    </div>
</div>
