<div class="text-center mb-4">
    <span><a routerLink="/registration">CPR</a></span>
    <span><a routerLink="/registration">AED</a></span>
    <span><a routerLink="/registration">ACLS</a></span>
    <span><a routerLink="/registration">EMR</a></span>
    <span><a routerLink="/registration">PALS</a></span>
    <span><a routerLink="/registration">BLOOD & AIR BORNE PATHOGENS</a></span>
</div>
<div class="container mb-4">
    <h2 class="text-center mb-4 "><u>Testimonials</u> </h2>
        <div class="row">
            <div class="col-lg-3 col-sm-12 mb-2">
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer text-white">
                        <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 mb-2">
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer text-white">
                        <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-3 col-sm-12 mb-2">
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer text-white">
                        <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    </blockquote>
                </div>  
            </div>
            <div class="col-lg-3 col-sm-12 mb-2">
                <div class="card bg-primary text-white text-center p-3">
                    <blockquote class="blockquote mb-0">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                    <footer class="blockquote-footer text-white">
                        <small>
                        Someone famous in <cite title="Source Title">Source Title</cite>
                        </small>
                    </footer>
                    </blockquote>
                </div>
            </div>
        </div>  
</div>
<div class="container mb-4">
    <h2 class="text-center mb-4 "><u>Contact</u> </h2>
    <div class="row">
        <div class="col-sm-12 col-lg-4">

        </div>
        <div class="col-sm-12 col-lg-4">
            <form>
                <div class="">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
                <div class="">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>

                <button type="submit" class="btn btn-primary float-right mt-2">Sign in</button>
            </form>
        </div>
        <div class="col-sm-12 col-lg-4">

        </div>
    </div>
</div>
